*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.668);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
    overflow: hidden;
    
}

#btn{
    padding: 20px 30px;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    font-size: 20px;
    z-index: 3;
}

#btn:active{
    scale: 0.95;
}