*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;  
}

main{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.811);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
    overflow: hidden;
}

main #ipl{
    color: white;
    font-size: 50px;
    font-weight: 900;
}

#box{
    width: 20%;
    height: 30%;
    background-color: green;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box #tm{
    font-size: 90px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

#dtl{
    color: white;
    font-size: 20px;
    display: none;

}

#btn{
    padding: 10px 30px;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    font-size: 20px;
    z-index: 3;
    
}

#btn:active{
    scale: 0.95;
}