* {
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}

#dp{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    left: 48%;
    top: 25px;
    border: 3px solid salmon;
    background-image: url('../assets/dp.png');
    background-size: cover;
    
}

.txt{
    width: 500px;
    height: 25px;
    background-color: white;
    position: relative;
    left: 280px;
    padding-top: 5px;

}

#head{
    width: 100vw;
    height: 140px;
    background-color: #232F3E;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 120px;
}

#sec{
    width: 100vw;
    text-align: center;
}

#d1{
    width: 70%;
    height: 230px;
    background-color: rgba(135, 207, 235, 0.392);
    margin-left: 210px;
}

#d2{
    width: 70%;
    height: 340px;
    background-color: rgba(255, 166, 0, 0.192);
    margin-left: 210px;
    font-weight: bold;
}

#d3{
    width: 70%;
    height: 290px;
    background-color: rgba(128, 0, 128, 0.214);
    margin-left: 210px;
    font-style: italic;
}

#d4{
    width: 70%;
    height: 290px;
    background-color: rgba(127, 255, 212, 0.379);
    margin-left: 210px;
}

footer{
    width: 100%;
    height: 10px;
    color: white;
    text-align: center;
    padding: 20px;
    font-weight: 900;
    background-color: #232F3E;

}
