@font-face {
    font-family: lovly;
    src: url('../fonts_style/LovelineGlamour-owdE0.ttf');
}

@font-face {
    font-family: maaa;
    src: url('../fonts_style/Themundayfreeversion-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    background-image: url('../assets/image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

p{
    color: white;
    text-transform: capitalize;
    font-family: maaa;
    font-weight: 900;
    font-size: 20px;
    position: absolute;
    top: 330px;
    left: 50px;
    letter-spacing: 2px;
}

#para{
    color: white;
    text-transform: capitalize;
    font-family: maaa;
    font-weight: 900;
    font-size: 18px;
    position: absolute;
    top: 70px;
    left: 40%;
    letter-spacing: 2px;
 
}

h1{
    color: white;
    text-transform: capitalize;
    padding-bottom: 5px;
    text-align: center;
    font-family: maaa;
    font-weight: 900;
    font-size: 50px;
    position: absolute;
    top: 74%;
    left: 40%;
}

#btn{
    width: 160px;
    height: 40px;
    font-weight: 900;
    position: absolute;
    background-color: transparent;
    color: #EF7711;
    border: 2px solid #EF7711;
    border-radius: 5px;
    font-size: 17px;
    left: 200px;
    top: 190px;
    cursor: pointer;
}

#btn:hover{
    height: 42px;
    width: 162px;
}

